.areas-areasBoxes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;
    margin: 30px;
    gap: 30px;

}

@media (max-width:1000px) {
    .areas-areasBoxes{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80%;
        gap: 20px;
    }
}
.areas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    height: fit-content;
    width: 100vw;
}

@media (max-width:700px) {
    .areas-areasBoxes{
            display: grid;
            grid-template-columns: 1fr;
            justify-content: center;
            align-items: center;
            width: 80%;
            height: 80%;
            gap: 20px;
    }
}


